@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Golos Text", sans-serif;
  color: #1c3749;
  background-color: #ebf1f8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.title {
  font-weight: 500;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: #161618;
}
@media screen and (max-width: 460px) {
  .title {
    font-size: 30px;
  }
}

.header-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.header-container ul {
  display: flex;
  gap: 40px;
}

.header-items li {
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  color: #161618;
}

.header-button {
  display: block;
  width: 193px;
  cursor: pointer;
  height: 38px;
  background-color: #161618;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  border: 0;
}

.header-button:hover {
  background-color: #333;
}

.header-burger {
  display: none;
  height: 34px;
  width: 34px;
}

.logo {
  width: 147px;
  height: 49px;
}

.start {
  margin-bottom: 20px;
}

.start-container {
  background-color: #161618;
  background-image: url("./img/start-image.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  padding: 60px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
}

.start-badges {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.start-badges span {
  font-size: 16px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 30px;
}

.start-text {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.start-heading {
  font-size: 58px;
  font-weight: 600;
  max-width: 630px;
  line-height: 92%;
  margin-bottom: 35px;
}

.start-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  max-width: 600px;
}

.start-list li {
  color: #a6a6a6;
  font-weight: 400;
  padding-left: 27px;
  position: relative;
}

.start-list li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  background-image: url("./img/check.svg");
}

.start-buttons {
  display: flex;
  gap: 20px;
}

.start-buttons button {
  max-width: 213px;
  cursor: pointer;
  border: 1px solid white;
  padding: 20px 30px;
  font-size: 16px;
  color: white;
  background: 0;
  border-radius: 10px;
  font-weight: 600;
}

.start-buttons-blue {
  background-color: #2a5cd9 !important;
  border: 0 !important;
}

.icon-list-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 12px;
}
@media screen and (max-width: 460px) {
  .icon-list-list {
    grid-template-columns: 1fr;
  }
}

.icon-list-item {
  background-color: #fff;
  border-radius: 28px;
  width: 100%;
  padding: 20px;
}

.icon-list-item div {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  align-items: center;
  gap: 12px;
}

.icon-list-item div h2 {
  font-size: 16px;
  font-weight: 600;
}

.icon-list-item p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -2%;
  line-height: 126%;
  max-width: 290px;
  padding-bottom: 25px;
}

.start-image {
  display: none;
}

.about-coach {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}
@media screen and (max-width: 460px) {
  .about-coach {
    margin-top: 40px;
  }
}

.about-coach-top,
.about-coach-bottom {
  display: flex;
  gap: 12px;
  align-items: stretch;
}

@media screen and (max-width: 1000px) {
  .about-coach-top {
    flex-direction: column;
  }
  .about-coach-bottom {
    flex-direction: column-reverse;
  }
}
.about-coach-top {
  margin-bottom: 20px;
}
.about-coach-top-image-wrapper {
  min-width: 578px;
  border-radius: 45px;
  overflow: hidden;
}
@media screen and (max-width: 460px) {
  .about-coach-top-image-wrapper {
    min-width: 100%;
    width: 100%;
    height: 266px;
    border-radius: 18px;
  }
  .about-coach-top-image-wrapper img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -o-object-position: center;
       object-position: center;
  }
}
.about-coach-top-text {
  background: white;
  border-radius: 45px;
  padding: 40px;
}
@media screen and (max-width: 1000px) {
  .about-coach-top-text {
    padding: 20px;
    border-radius: 18px;
  }
}
.about-coach-top-text h1 {
  color: #161618;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 40px;
}
@media screen and (max-width: 1000px) {
  .about-coach-top-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.about-coach-top-text p,
.about-coach-bottom-text p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 130%;
}
.about-coach-top-text p:last-child,
.about-coach-bottom-text p:last-child {
  margin: 0;
}
@media screen and (max-width: 460px) {
  .about-coach-top-text p,
  .about-coach-bottom-text p {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.about-coach-bottom-text {
  padding: 40px;
  background-color: #4c77aa;
  border-radius: 45px;
}
@media screen and (max-width: 460px) {
  .about-coach-bottom-text {
    border-radius: 18px;
    padding: 20px;
  }
}
.about-coach-bottom-text h1 {
  font-size: 44px;
  color: white;
  line-height: 102%;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 460px) {
  .about-coach-bottom-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.about-coach-bottom-text p {
  color: white;
  font-weight: 400;
}

.about-coach-bottom-image-wrapper {
  border-radius: 45px;
  min-width: 578px;
  height: 346px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
@media screen and (max-width: 460px) {
  .about-coach-bottom-image-wrapper {
    max-width: 100%;
    height: auto;
    min-width: 100%;
    border-radius: 18px;
  }
  .about-coach-bottom-image-wrapper img {
    width: 70%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.base-list {
  margin-top: 100px;
}
.base-list-wrapper {
  max-width: 1396px;
  margin: 0 auto;
  background: white;
  padding: 66px 71px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 460px) {
  .base-list {
    margin-top: 50px;
    padding: 20px;
    border-radius: 18px;
  }
}
@media screen and (max-width: 460px) {
  .base-list-medium-reverse {
    flex-direction: column-reverse !important;
  }
}

.base-list-heading {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 50px;
}
@media screen and (max-width: 460px) {
  .base-list-heading {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.base-list-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.base-list-container > div {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media screen and (max-width: 460px) {
  .base-list-container > div {
    flex-direction: column;
    gap: 20px;
  }
}

.base-list-container > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.base-list-container > div > div > h2 {
  font-size: 33px;
  line-height: 126%;
  font-weight: 500;
  margin-bottom: 20px;
}
@media screen and (max-width: 460px) {
  .base-list-container > div > div > h2 {
    font-size: 20px;
    margin-bottom: 14px;
  }
}

.base-list-container > div > div > p {
  line-height: 150%;
  font-size: 18px;
  font-weight: 400;
  color: #161618;
  opacity: 60%;
}
@media screen and (max-width: 460px) {
  .base-list-container > div > div > p {
    font-size: 14px;
    line-height: 126%;
    letter-spacing: -0.01em;
  }
}

.base-list-container > div > img {
  border-radius: 45px;
}
@media screen and (max-width: 460px) {
  .base-list-container > div > img {
    width: 100%;
    border-radius: 18px;
    height: 260px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.base-list-button {
  display: inline-block;
  margin: 60px auto;
  margin-bottom: 0;
  padding: 16px 30px;
  background-color: #20222c;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}
.base-list-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 460px) {
  .base-list-button {
    width: 100%;
    margin-top: 20px;
    font-size: 15px;
  }
}

.base-list-listing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
  line-height: 130%;
  color: #161618;
}

.how-much {
  display: flex;
  gap: 41px;
  background: #161618;
  color: white;
  border-radius: 45px;
  padding: 45px 40px;
  margin-top: 100px;
}
@media screen and (max-width: 460px) {
  .how-much {
    flex-direction: column;
  }
}

.how-much-left {
  max-width: 577px;
}

.how-much-left h1 {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 40px;
}

.how-much-left-text {
  font-size: 16px;
  color: #eaeaea;
  line-height: 126%;
  font-weight: 400;
  margin-bottom: 20px;
}

.how-much-left-bold {
  font-size: 23px;
  line-height: 126%;
  font-weight: 500;
  margin-bottom: 40px;
}

.how-much-left-bold b {
  color: #01d46b;
}

.how-much-left button {
  all: unset;
  padding: 19px 54px;
  background: #2a5cd9;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.how-much-right {
  background-image: url("./img/rubles.jpg");
  border-radius: 28px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 10px;
  }
  .header-burger {
    display: block;
  }
  .header-container ul,
  .header-items,
  .header-items li {
    display: none;
  }
  .header-button {
    display: none;
  }
  .start-badges {
    justify-content: center;
  }
  .start-badges span {
    font-size: 12px;
    padding: 12px 16px;
  }
  .start-container {
    padding: 14px 20px;
  }
  .start-text {
    font-size: 18px;
    text-align: center;
  }
  .start-container,
  .start {
    background-image: none;
  }
  .start-heading {
    font-size: 32px;
    text-align: center;
  }
  .start-buttons {
    margin-bottom: 10px;
  }
  .start-list li {
    font-size: 14px;
  }
  .start-buttons {
    flex-direction: column;
    width: 100%;
  }
  .start-heading {
    max-width: 100%;
  }
  .start-buttons button {
    max-width: 100%;
  }
  .icon-list {
    flex-direction: column;
  }
  .icon-list-item {
    padding-bottom: 0;
  }
  .start-image {
    display: block;
  }
}
.swiper {
  overflow: visible !important;
}

.icf {
  padding: 80px 0;
  overflow-x: hidden;
}
@media screen and (max-width: 460px) {
  .icf {
    overflow: hidden;
  }
}
.icf-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}
@media screen and (max-width: 460px) {
  .icf-title {
    font-size: 30px;
    line-height: 102%;
    margin-bottom: 30px;
  }
}
.icf-item {
  border-radius: 45px;
  padding: 30px;
  width: 437px !important;
  height: 200px;
  flex: 0 0 auto;
  background: white;
  padding: 30px;
}
@media screen and (max-width: 460px) {
  .icf-item {
    width: 320px !important;
    border-radius: 18px;
    padding: 14px;
    height: 121px;
  }
}
.icf-item-tick {
  width: 31px;
  margin-bottom: 20px;
}
.icf-item-text {
  font-weight: 500;
  font-size: 23px;
  line-height: 126%;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 460px) {
  .icf-item-text {
    font-size: 16px;
  }
}
.icf-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.icf-navigation {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 15;
  gap: 8px;
}
.icf-navigation-button {
  cursor: pointer;
}
.icf-navigation-button {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 38px;
  border-radius: 100px;
}
.icf-link {
  display: flex;
  justify-content: center;
}

.text-blue {
  color: #2a5cd9;
}

.history {
  padding: 0;
  overflow-x: hidden;
}
@media screen and (max-width: 460px) {
  .history {
    overflow: hidden;
  }
}
.history-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}
.history-subtitle {
  font-weight: 400;
  font-size: 26px;
  color: #161618;
  margin-bottom: 50px;
}
.history-item {
  background: white;
  border-radius: 45px;
  padding: 30px;
  width: 684px !important;
  flex: 0 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  letter-spacing: -0.01em;
  color: #161618;
}
@media screen and (max-width: 460px) {
  .history-item {
    width: 320px !important;
  }
}
.history-item-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}
.history-item-body ul {
  list-style: inside;
}
.history-item-bottom {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
.history-item-bottom-ava {
  border-radius: 20px;
  width: 80px;
  height: 80px;
}
.history-item-bottom-name {
  font-weight: 500;
  font-size: 23px;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #161618;
}
.history-link {
  display: flex;
  justify-content: center;
}

.sw.swiper {
  overflow: visible;
}
.sw-bottom {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}
.sw-navigation {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 15;
  gap: 8px;
}
.sw-navigation-button {
  cursor: pointer;
}
.sw-navigation-button {
  background-color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 38px;
  border-radius: 100px;
}
.sw-link {
  display: flex;
  justify-content: center;
}
.sw .swiper-pagination {
  text-align: right;
  display: flex;
  left: auto !important;
  right: 0 !important;
  justify-content: end;
}
.sw .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #b2b2c7;
  opacity: 1;
}
.sw .swiper-pagination-bullet-active {
  background: #1c1d26 !important;
  opacity: 1 !important;
  width: 30px !important;
  border-radius: 300px !important;
}

.form {
  margin-top: 20px;
  display: flex;
  padding: 40px;
  gap: 82px;
  background: #161618;
  color: white;
  border-radius: 28px;
}

.internship {
  margin-top: 20px;
}
@media screen and (max-width: 460px) {
  .internship {
    padding: 12px;
    margin-top: 10px;
  }
}
.internship-wrapper {
  background: #161618;
  border-radius: 28px;
  padding: 40px;
  display: flex;
  align-items: center;
  gap: 40px;
  color: white;
}
@media screen and (max-width: 460px) {
  .internship-wrapper {
    border-radius: 18px;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
  }
}
.internship-left {
  max-width: 722px;
  width: 100%;
}
.internship-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 102%;
  margin-bottom: 35px;
}
@media screen and (max-width: 460px) {
  .internship-title {
    font-size: 30px;
    line-height: 102%;
  }
}
.internship-subtitle {
  font-weight: 400;
  font-size: 24px;
  line-height: 126%;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 460px) {
  .internship-subtitle {
    font-size: 14px;
    line-height: 150%;
  }
}
.internship-right {
  max-width: 578px;
  width: 100%;
}
.internship-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
@media screen and (max-width: 460px) {
  .internship-list {
    gap: 8px;
  }
}
.internship-item {
  border-radius: 8px;
  height: 80px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 460px) {
  .internship-item {
    border-radius: 5px;
    height: 52px;
  }
  .internship-item img {
    height: 65%;
    max-width: 75%;
    -o-object-fit: contain;
       object-fit: contain;
  }
}

.text-green {
  color: #01d46b;
}

.help {
  margin: 80px 0;
}
@media screen and (max-width: 460px) {
  .help {
    margin: 30px 0;
  }
}
.help-content {
  display: grid;
  grid-template-columns: 1fr 578px;
  gap: 12px;
}
@media screen and (max-width: 748px) {
  .help-content {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 460px) {
  .help-content {
    gap: 8px;
  }
}
.help-left {
  border-radius: 28px;
  height: 293px;
  background: #4c77aa;
  padding: 40px;
  color: white;
  height: 100%;
}
@media screen and (max-width: 460px) {
  .help-left {
    border-radius: 18px;
    padding: 20px;
    height: auto;
    width: 100%;
  }
}
.help-right {
  border-radius: 28px;
  overflow: hidden;
}
@media screen and (max-width: 460px) {
  .help-right {
    height: 215px;
    border-radius: 18px;
  }
}
.help-right-img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.help-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 460px) {
  .help-title {
    font-size: 30px;
  }
}
.help-subtitle {
  font-weight: 500;
  margin-top: 30px;
  font-size: 24px;
}
@media screen and (max-width: 460px) {
  .help-subtitle {
    font-size: 18px;
  }
}
.help-subtitle-text {
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
}
@media screen and (max-width: 460px) {
  .help-subtitle-text {
    font-size: 14px;
  }
}

.teachers {
  overflow-x: hidden;
}
.teachers-title {
  margin-bottom: 30px;
}
@media screen and (max-width: 460px) {
  .teachers-title {
    margin-bottom: 20px;
  }
}
.teachers-subitle {
  font-weight: 400;
  font-size: 26px;
  color: #161618;
}
@media screen and (max-width: 460px) {
  .teachers-subitle {
    font-size: 14px;
  }
}
.teachers-list {
  margin-top: 50px;
}
@media screen and (max-width: 460px) {
  .teachers-list {
    margin-top: 30px;
  }
}
.teachers-item {
  border-radius: 45px;
  overflow: hidden;
  width: 410px !important;
  height: 531px !important;
  background: white;
}
@media screen and (max-width: 460px) {
  .teachers-item {
    border-radius: 18px;
    width: 330px !important;
    height: 454px !important;
  }
}
.teachers-item-img {
  width: 100%;
  height: 360px;
  border-radius: 45px;
}
@media screen and (max-width: 460px) {
  .teachers-item-img {
    height: 300px;
    border-radius: 18px;
  }
}
.teachers-item-content {
  padding: 14px 30px 24px;
}
@media screen and (max-width: 460px) {
  .teachers-item-content {
    padding: 10px 20px 24px;
  }
}
.teachers-item-name {
  font-weight: 500;
  font-size: 23px;
  line-height: 126%;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
@media screen and (max-width: 460px) {
  .teachers-item-name {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
.teachers-item-role {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.01em;
  height: 30px;
  margin-bottom: 22px;
}
@media screen and (max-width: 460px) {
  .teachers-item-role {
    font-size: 14px;
  }
}
.teachers-item-about {
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  width: 118px;
  background: #161618;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
@media screen and (max-width: 460px) {
  .teachers-item-about {
    padding: 10px 16px;
    font-size: 12px;
    border-radius: 6px;
  }
}

.learning {
  overflow-x: hidden;
  padding: 80px 0;
}
@media screen and (max-width: 460px) {
  .learning {
    padding: 40px 0;
  }
}
.learning-title {
  margin-bottom: 40px;
}
@media screen and (max-width: 460px) {
  .learning-title {
    margin-bottom: 20px;
  }
}
.learning-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
@media screen and (max-width: 460px) {
  .learning-content {
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
  }
}
.learning-left {
  background: white;
  border-radius: 45px;
  padding: 30px 40px;
  height: 422px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 460px) {
  .learning-left {
    height: auto;
    padding-bottom: 70px !important;
    border-radius: 18px;
    padding: 14px;
  }
}
.learning-left-bottom {
  position: absolute;
  bottom: 40px;
  left: 0;
  padding: 0 40px;
  width: 95%;
}
@media screen and (max-width: 460px) {
  .learning-left-bottom {
    bottom: 10px;
    left: 0;
    padding: 0 20px;
  }
}
.learning-left-bottom .sw-navigation-left {
  background-color: #f2f2f2;
}
.learning-left-bottom .sw-navigation-right {
  background-color: #000;
}
.learning-left-title {
  font-weight: 500;
  font-size: 33px;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #161618;
}
@media screen and (max-width: 460px) {
  .learning-left-title {
    font-size: 20px;
  }
}
.learning-left-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: #161618;
  opacity: 0.6;
  margin-top: 20px;
}
@media screen and (max-width: 460px) {
  .learning-left-text {
    font-size: 14px;
    margin-top: 10px;
  }
}
.learning-right {
  height: 422px;
  background: #161618;
  border-radius: 45px;
  padding: 20px;
  overflow: hidden;
}
@media screen and (max-width: 460px) {
  .learning-right {
    height: 230px;
    border-radius: 18px;
    padding: 14px;
  }
}
.learning-right-list {
  height: 100%;
}
.learning-right-item {
  width: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.learning-right-item-img {
  width: 85%;
}
@media screen and (max-width: 460px) {
  .learning-right-item-img {
    width: 95%;
  }
}
.learning-link {
  width: 100%;
  display: flex;
  justify-content: center;
}

.practice {
  margin-top: 100px;
}
@media screen and (max-width: 460px) {
  .practice {
    margin-top: 40px;
    padding: 0 12px;
  }
}
.practice-wrapper {
  border-radius: 50px;
  background-color: white;
  padding: 66px;
}
@media screen and (max-width: 460px) {
  .practice-wrapper {
    border-radius: 18px;
    padding: 20px;
  }
}
.practice-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: #161618;
  margin-bottom: 50px;
}
@media screen and (max-width: 460px) {
  .practice-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.practice-orderlist {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #161618;
}
.practice-orderlist li {
  display: flex;
  align-items: center;
  gap: 10px;
}
.practice-orderlist li::before {
  content: url("./img/check-2.svg");
}
.practice-subtitle {
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: #161618;
  margin-bottom: 50px;
}
@media screen and (max-width: 460px) {
  .practice-subtitle {
    font-size: 14px;
  }
}
.practice-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
}
@media screen and (max-width: 460px) {
  .practice-list {
    gap: 30px;
  }
}
.practice-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 460px) {
  .practice-item {
    flex-direction: column;
    gap: 14px;
  }
  .practice-item-reverse {
    flex-direction: column-reverse;
  }
}
.practice-item-img {
  max-width: 588px;
  width: 100%;
  border-radius: 45px;
  overflow: hidden;
}
@media screen and (max-width: 460px) {
  .practice-item-img {
    border-radius: 18px;
  }
}
.practice-item-text {
  max-width: 640px;
  width: 100%;
}
.practice-item-title {
  font-weight: 500;
  font-size: 33px;
  line-height: 126%;
  margin-bottom: 20px;
}
@media screen and (max-width: 460px) {
  .practice-item-title {
    font-size: 20px;
  }
}
.practice-item-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #161618;
  opacity: 0.6;
}
@media screen and (max-width: 460px) {
  .practice-item-subtitle {
    font-size: 14px;
  }
}
.practice-link {
  display: flex;
  justify-content: center;
}

.community {
  margin-top: 90px;
}
@media screen and (max-width: 460px) {
  .community {
    margin-top: 40px;
    padding: 0 12px;
  }
}
.community-wrapper {
  border-radius: 50px;
  background: #4c77aa;
  padding: 80px 40px;
  overflow-x: hidden;
  color: white;
}
@media screen and (max-width: 460px) {
  .community-wrapper {
    border-radius: 18px;
    padding: 20px 20px;
  }
}
.community-header {
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 460px) {
  .community-header {
    gap: 20px;
    flex-direction: column;
  }
}
.community-title {
  color: white;
  font-weight: 400;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  max-width: 577px;
}
@media screen and (max-width: 460px) {
  .community-title {
    font-size: 30px;
  }
}
.community-text {
  font-size: 22px;
  max-width: 753px;
  font-weight: 300;
}
@media screen and (max-width: 460px) {
  .community-text {
    font-size: 14px;
  }
}
.community-text p {
  margin-bottom: 23px;
}
.community-text p:last {
  margin: 0;
}
.community-content {
  margin-top: 60px;
}
@media screen and (max-width: 460px) {
  .community-content {
    margin-top: 30px;
  }
}
.community-item {
  width: 336px !important;
  height: 410px !important;
}
@media screen and (max-width: 460px) {
  .community-item {
    width: 220px !important;
    height: 300px !important;
  }
}
.community-item-img {
  border-radius: 18px;
  overflow: hidden;
}
.community-item-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.community-navigation-left {
  background-color: #7da2cf;
}

.career {
  margin-top: 80px;
}
@media screen and (max-width: 460px) {
  .career {
    margin-top: 40px;
    padding: 0 12px;
  }
}
.career-wrapper {
  border-radius: 50px;
  background: #2a5cd9;
  padding: 50px;
  overflow-x: hidden;
  color: white;
}
@media screen and (max-width: 460px) {
  .career-wrapper {
    border-radius: 18px;
    padding: 20px 20px;
  }
}
.career-title {
  color: white;
  font-weight: 400;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}
@media screen and (max-width: 460px) {
  .career-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.career-subtitle {
  font-size: 22px;
  max-width: 753px;
  font-weight: 300;
}
@media screen and (max-width: 460px) {
  .career-subtitle {
    font-size: 14px;
  }
}
.career-content {
  margin-top: 60px;
}
@media screen and (max-width: 460px) {
  .career-content {
    margin-top: 30px;
  }
}
.career-item {
  width: 410px !important;
  height: 583px !important;
  background: white;
  border-radius: 45px;
  color: #161618;
  overflow: hidden;
}
@media screen and (max-width: 460px) {
  .career-item {
    width: 330px !important;
    height: auto !important;
    border-radius: 18px;
  }
}
.career-item-content {
  padding: 0 30px;
  margin-top: 10px;
}
@media screen and (max-width: 460px) {
  .career-item-content {
    padding: 0 20px 20px;
  }
}
.career-item-title {
  font-weight: 500;
  font-size: 23px;
  margin-bottom: 14px;
}
@media screen and (max-width: 460px) {
  .career-item-title {
    font-size: 20px;
  }
}
.career-item-text {
  font-size: 16px;
  color: #161618;
  opacity: 0.6;
}
@media screen and (max-width: 460px) {
  .career-item-text {
    font-size: 14px;
  }
}
.career-item-img {
  border-radius: 45px;
  overflow: hidden;
}
@media screen and (max-width: 460px) {
  .career-item-img {
    border-radius: 18px;
  }
}
.career-item-img img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.career-navigation-left {
  background-color: #7da2cf;
}

.faq {
  margin: 20px 0;
  padding: 0 12px;
}
@media screen and (max-width: 460px) {
  .faq {
    margin: 10px 0;
  }
}
.faq-wrapper {
  background: #161618;
  border-radius: 28px;
  padding: 40px;
}
@media screen and (max-width: 460px) {
  .faq-wrapper {
    border-radius: 18px;
    padding: 20px;
  }
}
.faq-content {
  display: flex;
  align-items: center;
  color: white;
  gap: 80px;
}
@media screen and (max-width: 460px) {
  .faq-content {
    flex-direction: column;
    gap: 40px;
  }
}
.faq-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 102%;
  margin-bottom: 35px;
}
@media screen and (max-width: 460px) {
  .faq-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.faq-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 126%;
  letter-spacing: -0.02em;
}
@media screen and (max-width: 460px) {
  .faq-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
.faq-right {
  max-width: 498px;
  width: 100%;
}
.faq-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.faq-form input {
  font-size: 18px;
  background: #2a2a2c;
  border-radius: 8px;
  color: white;
  padding: 24px;
  border: none;
  outline: none;
}
.faq-check {
  font-size: 12px;
  margin-top: 25px;
}
.faq-check a {
  text-decoration: underline;
}
.faq-submit {
  background: #2a5cd9;
  border-radius: 10px;
  padding: 20px 30px;
  font-weight: 600;
  font-size: 18px;
  outline: none;
  border: none;
  color: white;
  margin-top: 14px;
}/*# sourceMappingURL=styles.css.map */