@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Golos Text", sans-serif;
  color: #1c3749;
  background-color: #ebf1f8;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 1380px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.header-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.header-items li {
  font-size: 16px;
  cursor: pointer;
  font-weight: 500;
  color: #161618;
}

.header-button {
  display: block;
  width: 193px;
  cursor: pointer;
  height: 38px;
  background-color: #161618;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  border: 0;
}

.header-button:hover {
  background-color: #333;
}

.header-burger {
  display: none;
  height: 34px;
  width: 34px;
}

.logo {
  width: 147px;
  height: 49px;
}

.start {
  margin-bottom: 20px;
}

.start-container {
  background-color: #161618;
  background-image: url("./img/start-image.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right;
  color: white;
  padding: 60px;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start-badges {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
}

.start-badges span {
  font-size: 16px;
  padding: 16px;
  border: 1px solid white;
  border-radius: 30px;
}

.start-text {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.start-heading {
  font-size: 58px;
  font-weight: 600;
  max-width: 630px;
  line-height: 92%;
  margin-bottom: 35px;
}

.start-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-bottom: 40px;
  max-width: 600px;
}

.start-list li {
  color: #a6a6a6;
  font-weight: 400;
  padding-left: 27px;
  position: relative;
}

.start-list li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  background-image: url("./img/check.svg");
}

.start-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.start-buttons button {
  max-width: 213px;
  cursor: pointer;
  border: 1px solid white;
  padding: 20px 30px;
  font-size: 16px;
  color: white;
  background: 0;
  border-radius: 10px;
  font-weight: 600;
}

.start-buttons-blue {
  background-color: #2a5cd9 !important;
  border: 0 !important;
}

.icon-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 12px;
}

.icon-list-item {
  background-color: #fff;
  border-radius: 28px;
  width: 100%;
  padding: 20px;
}

.icon-list-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.icon-list-item div h2 {
  font-size: 16px;
  font-weight: 600;
}

.icon-list-item p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: -2%;
  line-height: 126%;
  max-width: 290px;
  padding-bottom: 25px;
}

.start-image {
  display: none;
}

.about-coach {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  margin-top: 100px;
}

.about-coach-top,
.about-coach-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1000px) {
  .about-coach-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-coach-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.about-coach-top-text {
  background: white;
  border-radius: 45px;
  padding: 40px;
}

.about-coach-top-text h1 {
  color: #161618;
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .about-coach-top-text {
    padding: 20px;
    border-radius: 18px;
  }
  .about-coach-top-text h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.about-coach-top-text p,
.about-coach-bottom-text p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
  line-height: 130%;
}

.about-coach-top-image,
.about-coach-bottom-image {
  max-width: 600px;
  border-radius: 45px;
  height: 100%;
}

@media screen and (max-width: 420px) {
  .about-coach-top-image,
  .about-coach-bottom-image {
    max-width: 100%;
  }
}

.about-coach-bottom-text {
  padding: 40px;
}

.about-coach-bottom-text h1 {
  font-size: 44px;
  color: white;
  font-weight: 500;
  margin-bottom: 40px;
}

.about-coach-bottom-text {
  background-color: #4c77aa;
  border-radius: 45px;
}

.about-coach-bottom-text p {
  color: white;
  font-weight: 400;
}

.base-list {
  background: white;
  padding: 66px 71px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}

.base-list-heading {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 50px;
}

@media screen and (max-width: 420px) {
  .base-list-heading {
    font-size: 30px;
    margin-bottom: 30px;
  }
}

.base-list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 35px;
}

.base-list-container > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

@media screen and (max-width: 420px) {
  .base-list-container > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.base-list-container > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.base-list-container > div > div > h2 {
  font-size: 33px;
  line-height: 126%;
  font-weight: 500;
  margin-bottom: 20px;
}

.base-list-container > div > div > p {
  line-height: 150%;
  font-size: 18px;
  font-weight: 400;
  color: #161618;
  opacity: 60%;
}

.base-list-container > div > img {
  border-radius: 45px;
}

@media screen and (max-width: 420px) {
  .base-list-container > div > img {
    width: 100%;
  }
}

.base-list-button {
  display: inline-block;
  margin: 60px auto;
  margin-bottom: 0;
  padding: 16px 30px;
  background-color: #20222c;
  color: white;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.base-list-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: 14px;
  line-height: 130%;
  color: #161618;
}

.how-much {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 41px;
  background: #161618;
  color: white;
  border-radius: 45px;
  padding: 45px 40px;
  margin-top: 100px;
}

@media screen and (max-width: 420px) {
  .how-much {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.how-much-left {
  max-width: 577px;
}

.how-much-left h1 {
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 40px;
}

.how-much-left-text {
  font-size: 16px;
  color: #eaeaea;
  line-height: 126%;
  font-weight: 400;
  margin-bottom: 20px;
}

.how-much-left-bold {
  font-size: 23px;
  line-height: 126%;
  font-weight: 500;
  margin-bottom: 40px;
}

.how-much-left-bold b {
  color: #01d46b;
}

.how-much-left button {
  all: unset;
  padding: 19px 54px;
  background: #2a5cd9;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.how-much-right {
  background-image: url("./img/rubles.jpg");
  border-radius: 28px;
  padding: 20px;
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 10px;
  }
  .header-burger {
    display: block;
  }
  .header-container ul,
  .header-items,
  .header-items li {
    display: none;
  }
  .header-button {
    display: none;
  }
  .start-badges {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .start-badges span {
    font-size: 12px;
    padding: 12px 16px;
  }
  .start-container {
    padding: 14px 20px;
  }
  .start-text {
    font-size: 18px;
    text-align: center;
  }
  .start-container,
  .start {
    background-image: none;
  }
  .start-heading {
    font-size: 32px;
    text-align: center;
  }
  .start-buttons {
    margin-bottom: 10px;
  }
  .start-list li {
    font-size: 14px;
  }
  .start-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .start-heading {
    max-width: 100%;
  }
  .start-buttons button {
    max-width: 100%;
  }
  .icon-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .icon-list-item {
    padding-bottom: 0;
  }
  .start-image {
    display: block;
  }
}

.swiper {
  overflow: visible !important;
}

.icf {
  padding: 80px 0;
}

@media screen and (max-width: 420px) {
  .icf {
    overflow: hidden;
  }
}

.icf-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin-bottom: 50px;
}

.icf-item {
  border-radius: 45px;
  padding: 30px;
  width: 437px !important;
  height: 200px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background: white;
  padding: 30px;
}

@media screen and (max-width: 420px) {
  .icf-item {
    width: 320px !important;
  }
}

.icf-item-tick {
  width: 31px;
  margin-bottom: 20px;
}

.icf-item-text {
  font-weight: 500;
  font-size: 23px;
  line-height: 126%;
  letter-spacing: -0.02em;
}

.icf-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.icf-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 15;
  gap: 8px;
}

.icf-navigation-button {
  cursor: pointer;
}

.icf-navigation-button {
  background-color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 38px;
  border-radius: 100px;
}

.icf-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-blue {
  color: #2a5cd9;
}

.history {
  padding: 0;
}

@media screen and (max-width: 420px) {
  .history {
    overflow: hidden;
  }
}

.history-title {
  font-weight: 500;
  font-size: 44px;
  line-height: 102%;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.history-subtitle {
  font-weight: 400;
  font-size: 26px;
  color: #161618;
  margin-bottom: 50px;
}

.history-item {
  background: white;
  border-radius: 45px;
  padding: 30px;
  width: 684px !important;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 126%;
  letter-spacing: -0.01em;
  color: #161618;
}

@media screen and (max-width: 420px) {
  .history-item {
    width: 320px !important;
  }
}

.history-item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.history-item-body ul {
  list-style: inside;
}

.history-item-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.history-item-bottom-ava {
  border-radius: 20px;
  width: 80px;
  height: 80px;
}

.history-item-bottom-name {
  font-weight: 500;
  font-size: 23px;
  line-height: 126%;
  letter-spacing: -0.02em;
  color: #161618;
}

.history-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sw.swiper {
  overflow: visible;
}

.sw-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

.sw-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 15;
  gap: 8px;
}

.sw-navigation-button {
  cursor: pointer;
}

.sw-navigation-button {
  background-color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 38px;
  border-radius: 100px;
}

.sw-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sw .swiper-pagination {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: auto !important;
  right: 0 !important;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.sw .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #b2b2c7;
  opacity: 1;
}

.sw .swiper-pagination-bullet-active {
  background: #1c1d26 !important;
  opacity: 1 !important;
  width: 30px !important;
  border-radius: 300px !important;
}

.form {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  gap: 82px;
  background: #161618;
  color: white;
  border-radius: 28px;
}
/*# sourceMappingURL=styles.css.map */